body {
	background-color: #000;
	color: #def;
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	text-align:center;
	margin-top:15%;
	font-size: 50px;
	letter-spacing: 10px;
	color: #cef6f5;
    font-weight: 900;
    background-color: rgba(0,0,0,.5);
	border-radius: 10px;
}

div.jumbotron#home {
	border-bottom: solid black 1px;
	background-image: url(../images/img2.jpg);
	/*background-image: url(../images/space.gif);*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 15%;
}

.card {
	color:#def;
	margin: auto;
	background: black;
	display: inline-block;
	cursor: pointer;
	border: solid 1px white;
	padding: 100px;
}
	.question {
		font-size: 35px;
		letter-spacing: 5px;
		color: lightblue;
	}

	h3 {
		font-size: 20px;
	    font-weight: 900;
	    background-color: rgba(0,0,0,.5);
	    border-radius: 10px;
	}
		#Food {
			background-image: url(../images/chef1.jpg);
			background-repeat: no-repeat;
			/*background-position: center;
			background-attachment: fixed;*/
			background-size: cover;
			padding: 75px;
		}
			#American {
				background-image: url(../images/american.jpg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
			#Asian {
				background-image: url(../images/asian.jpeg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
			#Latin {
				background-image: url(../images/mexican.jpg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
			#Italian {
				background-image: url(../images/italian.jpg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
		#Entertainment {
			background-image: url(../images/background.jpg);
			background-repeat: no-repeat;
			/*background-position: center;
			background-attachment: fixed;*/
			background-size: cover;
			padding: 75px;
		}
			#Movies {
				background-image: url(../images/movies.jpg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
			#Clubs {
				background-image: url(../images/club.jpg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
			#Events {
				background-image: url(../images/event.jpg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
		#Fitness {
			background-image: url(../images/gym.jpg);
			background-repeat: no-repeat;
			/*background-position: center;
			background-attachment: fixed;*/
			background-size: cover;
			padding: 75px;
		}
			#Gym {
				background-image: url(../images/gym1.jpg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
			#Park {
				background-image: url(../images/park.jpg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
			#Sports {
				background-image: url(../images/sports.jpg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
			#Martial-Arts {
				background-image: url(../images/mma.jpg);
				background-repeat: no-repeat;
				/*background-position: center;
				background-attachment: fixed;*/
				background-size: cover;
				padding: 60px;
			}
#widgetHead {
	display:inline-block;
	color:#def;
	float:right;

}
div#weatherWidget.widget.text-center {
	background-image: url(../images/clouds.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	padding: 30px;
	margin: auto;
	cursor: pointer;
	
}
#logOut {
	/*margin-left: 90%;
	text-decoration: none;*/
	color: red;
	font-size: 18px;
}

.backCard {
	color:#def;
	border: solid 1px white;
    padding:30px;
    background: red;
    display: inline-block;
    height: 100px;
    cursor: pointer;
	background-image: url(../images/backBtn.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
}
#map {
    height: 50%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*Markers*/
div {
	color:black;
}